.breaking_img{
    width: 100%;
}
.breaking_news_name{
    text-align: left;
    margin: 0px;
}
.breaking_news_data{
    text-align: left;
    font-size: 0.7vw;
    margin: 0px;
}
.breaking_desc{
    text-align: left;
    font-size: 0.7vw;
    margin: 0px;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis; /* Многоточие */
}
.breaking_link{
    color: #646f79;
}